<!--
    navbar: bootstrap
    navbar-inverse: bootstrap
    app-navigation: navigation.scss
-->
<nav class="navbar navbar-inverse app-navigation"
     role="navigation"
     ng-controller="navigationController">
    
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 options">
                <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>

                <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a type="button"
                           class="btn btn-link twitter-btn"
                           ng-class="{'nav-btn-selected-view': currentView === 'app.twitter'}"
                           ui-sref="app.twitter">
                            <span class="fa fa-3x fa-twitter"></span>
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a type="button"
                           class="btn btn-link analytics-btn"
                           ng-class="{'nav-btn-selected-view': currentView === 'app.analytics'}"
                           ui-sref="app.analytics">
                            <span class="fa fa-3x fa-bar-chart"></span>
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a type="button"
                           class="btn btn-link sitemap-btn"
                           ng-class="{'nav-btn-selected-view': currentView === 'app.stack'}"
                           ui-sref="app.stack">
                            <span class="fa fa-3x fa-sitemap"></span>
                        </a>
                    </div>
                </div>

                <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
                
            </div>
                
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sub-options">

                <div class="twitter-options"
                     ng-show="currentView === 'app.twitter'">
                    
                    <div class="container">
                        
                        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3"
                             ng-class="{'twitter-selected-view': currentSubView === 'search-twitter'}">
                            
                            <span class="fa fa-2x fa-search clickable"
                                  ng-click="setSubView('search-twitter')">
                                <span class="search-text">Search Twitter</span>
                            </span>
                        </div>
                        
                        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3"
                             ng-class="{'twitter-selected-view': currentSubView === 'twitter-timeline'}">
                            
                            <span class="fa fa-2x fa-twitter clickable"
                                  ng-click="setSubView('twitter-timeline')">
                                <span class="search-text">Timeline</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="analytics-options"
                     ng-show="currentView === 'app.analytics'">
                </div>

                <div class="stack-options"
                     ng-show="currentView === 'app.stack'">
                </div>
            </div>
            
        </div>
    </div>
</nav>