
// green
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald:   #2ECC71;
$nephritis: #27AE60;

// blue
$peter-river: #3498DB;
$belize-hole: #2980B9;

// purple
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// grey
$wet-asphalt:   #34495E;
$midnight-blue: #2C3E50;
$asbestos:      #7F8C8D;
$concrete:      #95A5A6;
$silver:        #BDC3C7;
$clouds:        #ECF0F1;

// red
$pomegranate:   #C0392B;
$alizarin:      #E74C3C;

// orange
$pumpkin:   #D35400;
$carrot:    #E67E22;
$orange:    #F39C12;

// yellow
$sun-flower: #F1C40F;