.app-navigation {
    
    background-color: #232a31;
    border: none;
    border-radius: 0;
    
    .options {
         
        background-color: #232a31;
        color: white;
        padding: 10px 0 0 0;
        display: block;
        height: 75px;
        
        .fa-twitter {
            
            color: white;
        }
        
        .fa-twitter:hover {
            
            color: #ECF0F1;
            cursor: pointer;
        }
        
        .twitter-btn.nav-btn-selected-view {
            
            .fa-twitter {

                color: #2980B9;
            }

        }
        
        .fa-bar-chart {
            
            color: white;
        }
        
        .fa-bar-chart:hover {
            
            color: #ECF0F1;
            cursor: pointer;
        }
        
        .analytics-btn.nav-btn-selected-view {
            
            .fa-bar-chart {
                color: #D35400;
            }
            
        }
        
        .fa-sitemap {
            
            color: white;
        }
        
        .fa-sitemap:hover {
            
            color: #ECF0F1;
            cursor: pointer;
        }
        
        .sitemap-btn.nav-btn-selected-view {
            
            .fa-sitemap {
                color: #16A085;
            }
            
        }
        
    }
    
    .sub-options {
            
        height: 55px;
        padding: 0;
        
        .twitter-options {

            background-color: #2980B9;
            height: 100%;
            width: 100%;
            
            span {
                height: 55px;
                padding-top: 10px;
                width: 100%;
            }
            
            .twitter-selected-view {
                
                background-color: #3498DB;
            }

            .search-text {
                margin-left: 10px;
                
                @media all and (min-width: 767px) and (max-width: 1000px) {
                    font-size: 20px;
                }
                
                @media all and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .analytics-options {

            background-color: #D35400;
            height: 100%;
            width: 100%;
        }

        .stack-options {

            background-color: #16A085;
            height: 100%;
            width: 100%;
        }
    }
}