.twitter {
    
    background-color: $concrete;
    margin-bottom: 100px;
    
    .search {

        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;
        
        .search-bar {

            width: 100%;
            height: 55px;
            margin: 25px 0 25px 0;
            
            .form-control {
                height: 55px;
                font-size: 20px;
                border: none;
            }
            
            .input-group-addon {
                min-width: 55px;
                background-color: #7F8C8D;
                border: none;
                padding: 3px;
                font-size: 20px;
                color: white;
            }
        }

        .results {

            .result {

                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                background-color: white;
                padding-top: 5px;
                padding-bottom: 5px;

                .profile-photo {

                    display: inline;
                    height: 75px;
                    width: 75px;
                    
                    border-radius: 50%;
                    
                    @media all and (max-width: 767px) {
                        height: 45px;
                        width: 45px;
                    }
                }

                .header {
                    display: inline;

                    .user-name {
                        font-size: 20px;
                            
                        @media all and (max-width: 767px) {
                            font-size: 16px;
                        }
                    }

                    .user-screen-name {
                        font-weight: 300;
                    }
                    
                    .tweet-time {
                        font-weight: 300;
                        
                        @media all and (max-width: 767px) {
                            display: block;
                        }
                    }
                }
                .tweet {

                    display: block;
                    font-weight: 300;
                }
            }
        }
    }
    
    .timeline {
        
        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;
        
        .results {

            .result {

                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                background-color: white;
                padding-top: 5px;
                padding-bottom: 5px;

                .profile-photo {

                    display: inline;
                    height: 75px;
                    width: 75px;
                    
                    border-radius: 50%;
                    
                    @media all and (max-width: 767px) {
                        height: 45px;
                        width: 45px;
                    }
                }

                .header {
                    display: inline;

                    .user-name {
                        font-size: 20px;
                            
                        @media all and (max-width: 767px) {
                            font-size: 16px;
                        }
                    }

                    .user-screen-name {
                        font-weight: 300;
                    }
                    
                    .tweet-time {
                        font-weight: 300;
                        
                        @media all and (max-width: 767px) {
                            display: block;
                        }
                    }
                }
                .tweet {

                    display: block;
                    font-weight: 300;
                }
            }
        }
    }
    
    .retweet {
        
        position: fixed;
        bottom: 0;
        background-color: $concrete;
        margin-left: -15px;
        
        .connect-btn {
            
            display: block;
            margin: 15px auto;
            background-color: $belize-hole;
        }
        
        .tweet-bar {

            width: 100%;
            height: 55px;
            margin: 25px 0 25px 0;
            
            .form-control {
                height: 55px;
                font-size: 20px;
                border-width: 1px 0 1px 1px;
                border-color: $belize-hole;
            }
            
            .input-group-addon {
                min-width: 55px;
                background-color: $belize-hole;
                border: none;
                padding: 3px;
                font-size: 20px;
                color: white;
            }
        }
    }
}