
<div class="container twitter">
    <div class="search"
         ng-show="currentView === 'search-twitter'">

        <div ng-show="isConnected === true"
             class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="input-group search-bar">
                <input class="form-control"
                       type="text"
                       placeholder="Search Twitter . . ."
                       ng-model="searchPhrase">
                <span   type="button"
                        class="input-group-addon clickable fa fa-3x fa-search"
                        ng-click="searchTwitter(searchPhrase)"></span>
            </div>
        </div>

        <div ng-show="isConnected === true"
             class="results">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 result"
                 ng-repeat="tweet in searchResult.tweetsFound">
                
                <div class="col-xs-2 col-sm-2 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-2 photo-container">
                    <img class="profile-photo"
                         ng-src="{{tweet.user.profile_image_url}}">
                </div>
                
                <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 header">
                    <label class="user-name" ng-bind="tweet.user.name"></label>
                    <label class="user-screen-name" ng-bind="'@' + tweet.user.screen_name"></label>
                    <label class="tweet-time" am-time-ago="tweet.created_at"></label>
                    <label class="tweet" ng-bind="tweet.text"></label>
                </div>

            </div>

        </div>
    </div>
    
    <div class="timeline"
         ng-show="currentView === 'twitter-timeline'">
        
        <div ng-show="isConnected === true"
             class="results">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 result"
                 ng-repeat="tweet in timeline">
                
                <div class="col-xs-2 col-sm-2 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-2 photo-container">
                    <img class="profile-photo"
                         ng-src="{{tweet.user.profile_image_url}}">
                </div>
                
                <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 header">
                    <label class="user-name" ng-bind="tweet.user.name"></label>
                    <label class="user-screen-name" ng-bind="'@' + tweet.user.screen_name"></label>
                    <label class="tweet-time" am-time-ago="tweet.created_at"></label>
                    <label class="tweet" ng-bind="tweet.text"></label>
                </div>

            </div>

        </div>
    </div>
    
    <div class="container retweet">
        
        <div ng-show="isConnected === false">
            <button type="button"
                    class="btn btn-lg connect-btn"
                    ng-click="connect()">Connect</button>
        </div>
        
        <div ng-show="isConnected === true"
             class="input-group tweet-bar">
            <input class="form-control"
                   type="text"
                   placeholder="Post To Twitter . . ."
                   ng-model="postStatus">
            <span   type="button"
                    class="input-group-addon clickable fa fa-3x fa-twitter"
                    ng-click="postTwitter(postStatus)"></span>
        </div>
        
    </div>
</div>